.details-title, 
.charges-title, 
.earnings-title, 
.form-container,
.charges-info, 
.earnings-info{
    border: 3px solid black;
}

.earnings {
    margin-top: 2rem;
}

.btn {
    margin-top: 6rem;
    box-shadow: 4px 4px 1px rgba(50, 50, 50, 0.75);
}

.buttons {
    width: 22rem;
}

.btn-primary {
    float: left;
}

.btn-danger {
    float: right;
}

.details, .column-two {
    height: 53rem;
}

.details-info {
    height: 35.3rem;
}

.charges-info, .earnings-info {
    height: 14.5rem;
}

.price, .tax, .tip {
    margin: 2rem 0 0 2rem;
}

p {
    font-size: 2rem;
}

.form {
    width: 40rem;
}

.form ul {
    float: right;
}

.li-container {
    margin-top: 2rem;
}

