body {
    background-image: url(restaurant-690569_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}

.details-title, 
.charges-title, 
.earnings-title, 
.form-container,
.charges-info, 
.earnings-info{
    border: 3px solid black;
}
.title {
    font-size: 5em;
}

.nav {
    margin-bottom: 0.5em;
}

a {
    color: #416FA0;
    font-weight: bold;
}

.desc {
    margin-top: 4rem;
    padding: 1rem;
}

.earnings {
    margin-top: 1rem;
}

.btn {
    box-shadow: 4px 4px 1px rgba(50, 50, 50, 0.75);
}

.buttons {
    width: 22rem;
}

.btn-primary {
    float: left;
}

.btn-danger {
    float: right;
}

.details-title, 
.charges-title, 
.form-container, 
.charges-info, 
.desc, 
.earnings-title, 
.earnings-info {
    background-color: rgba(0,0,0,0.9);
    border-color: rgba(50, 50, 50, 0.75);
}

.details-title,
.charges-title {
    margin-top: 0;
}

.text-center {
    margin-top: 1rem;
}

.details-info {
    height: 19rem;
}

.charges-info, .earnings-info {
    height: 13rem;
}

.price, .tax, .tip {
    margin: 1rem 0 0 1rem;
}

p {
    font-size: 2rem;
}

.form {
    width: 29rem;
}

.form ul {
    float: right;
}

.li-container {
    margin-top: 1rem;
}

input {
    padding-left: 1rem;
    width: 8rem;
    color: #000;
}

.error {
    color: red;
    font-size: 1rem;
}

.list-inline {
    margin-bottom: 0.5rem;
}

.animate-view-container { position:relative; min-height: 100%;}
.animate-view.ng-enter,
.animate-view.ng-leave {
		transition:0.33s linear all;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }